USE [master]
GO
/****** Object:  Database [TFI_PLOFTEC_FORUM]    Script Date: 11/6/2025 22:54:30 ******/
CREATE DATABASE [TFI_PLOFTEC_FORUM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TFI_PLOFTEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TFI_PLOFTEC.mdf' , SIZE = 598016KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TFI_PLOFTEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TFI_PLOFTEC_log.ldf' , SIZE = 1581056KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TFI_PLOFTEC_FORUM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TFI_PLOFTEC_FORUM]
GO
/****** Object:  User [testUser]    Script Date: 11/6/2025 22:54:30 ******/
CREATE USER [testUser] FOR LOGIN [testUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [testUser]
GO
/****** Object:  Table [dbo].[PublicacionesVotos]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionesVotos](
	[IDPublicacion] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Positivo] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[IDPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Contenido] [varchar](max) NOT NULL,
	[Recompensa] [int] NOT NULL,
	[Visitas] [int] NOT NULL,
	[Respondida] [bit] NOT NULL,
	[Cerrada] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaCierre] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasVotos]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasVotos](
	[IDRespuesta] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Positivo] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[IDRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[TextoRespuesta] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[RespuestaCorrecta] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecompensasUsuario]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecompensasUsuario](
	[IDRecompensaUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDRecompensa] [int] NOT NULL,
	[FechaObtencion] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Recompen__AA2065880C3F5BED] PRIMARY KEY CLUSTERED 
(
	[IDRecompensaUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recompensas]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recompensas](
	[IDRecompensa] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[Tipo] [varchar](50) NULL,
	[Valor] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK__Recompen__AA206588F4E34CD1] PRIMARY KEY CLUSTERED 
(
	[IDRecompensa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_topThreeUsersLastWeek]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_topThreeUsersLastWeek] AS
SELECT TOP 3
    U.IDUsuario,
    ISNULL((
        SELECT SUM(R.Valor)
        FROM RecompensasUsuario RU
		JOIN Recompensas R ON RU.IDRecompensa = R.IDRecompensa
        WHERE RU.IDUsuario = U.IDUsuario
          AND RU.FechaObtencion >= DATEADD(DAY, -7, GETDATE())
    ), 0) +

    ISNULL((
        SELECT COUNT(*)
        FROM RespuestasVotos RV
        JOIN Respuestas R ON RV.IDRespuesta = R.IDRespuesta
        WHERE RV.Positivo = 1
          AND R.IDUsuario = U.IDUsuario
          AND RV.CreateDate >= DATEADD(DAY, -7, GETDATE())
    ), 0) * 10 +

    ISNULL((
        SELECT COUNT(*)
        FROM PublicacionesVotos PV
        JOIN Publicaciones P ON PV.IDPublicacion = P.IDPublicacion
        WHERE PV.Positivo = 1
          AND P.IDUsuario = U.IDUsuario
          AND PV.CreateDate >= DATEADD(DAY, -7, GETDATE())
    ), 0) * 10

    AS TotalRecompensa
FROM RecompensasUsuario U
WHERE U.FechaObtencion >= DATEADD(DAY, -7, GETDATE())
GROUP BY U.IDUsuario
ORDER BY TotalRecompensa DESC;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archivos]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivos](
	[IDArchivo] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDRespuesta] [int] NOT NULL,
	[NombreArchivo] [varchar](100) NOT NULL,
	[TipoArchivo] [varchar](50) NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[IDEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[NombreEtiqueta] [varchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtiquetasPublicaciones]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtiquetasPublicaciones](
	[IDEtiquetaPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDEtiqueta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEtiquetaPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTable]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[LogEvent] [nvarchar](max) NULL,
	[ReferenceNumber] [int] NULL,
	[ReferenceType] [varchar](50) NULL,
 CONSTRAINT [PK_LogTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medallas]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medallas](
	[IDMedalla] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedalla] [varchar](100) NOT NULL,
	[Descripcion] [varchar](1000) NOT NULL,
	[CantidadEntregada] [int] NOT NULL,
	[ImagenMedalla] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK__Medallas__ABA1FD0144A663C9] PRIMARY KEY CLUSTERED 
(
	[IDMedalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[IDNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Mensaje] [varchar](1000) NOT NULL,
	[FechaNotificacion] [datetime2](7) NOT NULL,
	[Leida] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionesGuardadas]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionesGuardadas](
	[IDPublicacionGuardada] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPublicacionGuardada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TextoPredicciones]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextoPredicciones](
	[IDTextoPrediccion] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](max) NULL,
	[Etiquetas] [nvarchar](max) NULL,
 CONSTRAINT [PK_TextoPredicciones] PRIMARY KEY CLUSTERED 
(
	[IDTextoPrediccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosMedallas]    Script Date: 11/6/2025 22:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosMedallas](
	[IDUsuarioMedalla] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDMedalla] [int] NOT NULL,
	[FechaObtenido] [datetime] NOT NULL,
 CONSTRAINT [PK__Usuarios__9B3DD3F88D28F10C] PRIMARY KEY CLUSTERED 
(
	[IDUsuarioMedalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230417001221_InitialCreate', N'7.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231029002858_ALTER_TABLE_USERS_ADDCOLUMN_FORUMS', N'7.0.5')
GO
SET IDENTITY_INSERT [dbo].[Etiquetas] ON 

INSERT [dbo].[Etiquetas] ([IDEtiqueta], [NombreEtiqueta], [Active], [CreateDate], [UpdateDate]) VALUES (1, N'C#', 1, CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Etiquetas] ([IDEtiqueta], [NombreEtiqueta], [Active], [CreateDate], [UpdateDate]) VALUES (2, N'EF', 1, CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Etiquetas] ([IDEtiqueta], [NombreEtiqueta], [Active], [CreateDate], [UpdateDate]) VALUES (3, N'ENTITY FRAMEWORK', 1, CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Etiquetas] OFF
GO
SET IDENTITY_INSERT [dbo].[EtiquetasPublicaciones] ON 

INSERT [dbo].[EtiquetasPublicaciones] ([IDEtiquetaPublicacion], [IDPublicacion], [IDEtiqueta]) VALUES (1, 1, 1)
INSERT [dbo].[EtiquetasPublicaciones] ([IDEtiquetaPublicacion], [IDPublicacion], [IDEtiqueta]) VALUES (2, 1, 2)
INSERT [dbo].[EtiquetasPublicaciones] ([IDEtiquetaPublicacion], [IDPublicacion], [IDEtiqueta]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[EtiquetasPublicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Medallas] ON 

SET IDENTITY_INSERT [dbo].[Medallas] OFF
GO
SET IDENTITY_INSERT [dbo].[Publicaciones] ON 

INSERT [dbo].[Publicaciones] ([IDPublicacion], [IDUsuario], [Titulo], [Contenido], [Recompensa], [Visitas], [Respondida], [Cerrada], [FechaCreacion], [FechaCierre], [Active], [CreateDate], [UpdateDate]) VALUES (1, N'058418f2-70c8-428d-b738-621f06065f28', N'string', N'string', 260, 25, 1, 0, CAST(N'2023-09-17T10:29:26.0810291' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1, CAST(N'2023-09-18T10:29:26.0800000' AS DateTime2), CAST(N'2025-06-06T18:58:13.3836147' AS DateTime2))
INSERT [dbo].[Publicaciones] ([IDPublicacion], [IDUsuario], [Titulo], [Contenido], [Recompensa], [Visitas], [Respondida], [Cerrada], [FechaCreacion], [FechaCierre], [Active], [CreateDate], [UpdateDate]) VALUES (2, N'631f76c9-42b1-4987-a89a-3653d9906996', N'Mi Primera publicacion', N'HOLAAA', 10, 154789, 0, 0, CAST(N'2023-08-18T13:33:56.6881736' AS DateTime2), NULL, 1, CAST(N'2023-09-18T13:33:56.6866667' AS DateTime2), CAST(N'2025-05-17T20:56:56.2672724' AS DateTime2))
INSERT [dbo].[Publicaciones] ([IDPublicacion], [IDUsuario], [Titulo], [Contenido], [Recompensa], [Visitas], [Respondida], [Cerrada], [FechaCreacion], [FechaCierre], [Active], [CreateDate], [UpdateDate]) VALUES (3, N'6850bf58-1b79-44e0-810a-29dcd29be9d7', N'Mi Segunda publicacion', N'Esta segunda publicacion se trata de que somos devs :D', 0, 513, 0, 0, CAST(N'2023-09-18T17:12:12.8319496' AS DateTime2), NULL, 1, CAST(N'2023-09-18T13:36:12.8333333' AS DateTime2), CAST(N'2025-05-20T22:26:34.7741724' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Publicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[PublicacionesGuardadas] ON 

INSERT [dbo].[PublicacionesGuardadas] ([IDPublicacionGuardada], [IDUsuario], [IDPublicacion]) VALUES (2012, N'f1418643-6cb0-4b63-ad74-0d866ef38319', 2)
SET IDENTITY_INSERT [dbo].[PublicacionesGuardadas] OFF
GO
INSERT [dbo].[Recompensas] ([IDRecompensa], [Nombre], [Descripcion], [Tipo], [Valor], [CreateDate]) VALUES (1, N'Actividad', N'Otorgado por estar mas de 1 semana activo en nuestra plataforma!', N'Actividad', 10, CAST(N'2025-05-17T19:40:31.190' AS DateTime))
INSERT [dbo].[Recompensas] ([IDRecompensa], [Nombre], [Descripcion], [Tipo], [Valor], [CreateDate]) VALUES (2, N'Respuesta correcta', N'Otorgado cuando tu respuesta fue marcada como la mejor', N'RespuestaCorrecta', 50, CAST(N'2025-05-17T19:40:31.190' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RecompensasUsuario] ON 

INSERT [dbo].[RecompensasUsuario] ([IDRecompensaUsuario], [IDUsuario], [IDRecompensa], [FechaObtencion], [Active], [CreateDate]) VALUES (1, N'631f76c9-42b1-4987-a89a-3653d9906996', 1, CAST(N'2025-05-16T21:46:30.8133333' AS DateTime2), 1, CAST(N'2023-10-28T21:46:30.8133333' AS DateTime2))
INSERT [dbo].[RecompensasUsuario] ([IDRecompensaUsuario], [IDUsuario], [IDRecompensa], [FechaObtencion], [Active], [CreateDate]) VALUES (2, N'058418f2-70c8-428d-b738-621f06065f28', 1, CAST(N'2025-05-16T21:52:01.5100000' AS DateTime2), 1, CAST(N'2023-10-28T21:52:01.5100000' AS DateTime2))
INSERT [dbo].[RecompensasUsuario] ([IDRecompensaUsuario], [IDUsuario], [IDRecompensa], [FechaObtencion], [Active], [CreateDate]) VALUES (3, N'631f76c9-42b1-4987-a89a-3653d9906996', 2, CAST(N'2025-05-16T21:53:13.0100000' AS DateTime2), 1, CAST(N'2023-10-28T21:53:13.0100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RecompensasUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuestas] ON 

INSERT [dbo].[Respuestas] ([IDRespuesta], [IDPublicacion], [IDUsuario], [TextoRespuesta], [FechaCreacion], [RespuestaCorrecta], [Active], [CreateDate], [UpdateDate]) VALUES (1, 1, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'HOLA GONZALO', CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), 0, 1, CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Respuestas] ([IDRespuesta], [IDPublicacion], [IDUsuario], [TextoRespuesta], [FechaCreacion], [RespuestaCorrecta], [Active], [CreateDate], [UpdateDate]) VALUES (2, 1, N'6ff29440-d0ab-44d6-bdf9-9a333ef40667', N'Esta es la respuesta correcta', CAST(N'2023-10-28T21:51:30.6433333' AS DateTime2), 1, 1, CAST(N'2023-10-28T21:51:30.6433333' AS DateTime2), NULL)
INSERT [dbo].[Respuestas] ([IDRespuesta], [IDPublicacion], [IDUsuario], [TextoRespuesta], [FechaCreacion], [RespuestaCorrecta], [Active], [CreateDate], [UpdateDate]) VALUES (3, 2, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'Esta es la respuesta casi correcta', CAST(N'2023-10-28T21:52:45.5100000' AS DateTime2), 0, 1, CAST(N'2023-10-28T21:52:45.5100000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Respuestas] OFF
GO
INSERT [dbo].[RespuestasVotos] ([IDRespuesta], [IDUsuario], [Positivo], [CreateDate]) VALUES (1, N'f1418643-6cb0-4b63-ad74-0d866ef38319', 1, CAST(N'2025-06-01T23:06:39.2617064' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[TextoPredicciones] ON 

INSERT [dbo].[TextoPredicciones] ([IDTextoPrediccion], [Texto], [Etiquetas]) VALUES (1, N'¿Como se cocina un pastel?', N'Recetas, Cocina')
INSERT [dbo].[TextoPredicciones] ([IDTextoPrediccion], [Texto], [Etiquetas]) VALUES (2, N'¿Cómo cambio la batería de mi auto?', N'Automóviles, Mantenimiento')
INSERT [dbo].[TextoPredicciones] ([IDTextoPrediccion], [Texto], [Etiquetas]) VALUES (3, N'¿Cuántas patas tiene un gato?', N'Animales, Mascotas')
SET IDENTITY_INSERT [dbo].[TextoPredicciones] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosMedallas] ON 

INSERT [dbo].[UsuariosMedallas] ([IDUsuarioMedalla], [IDUsuario], [IDMedalla], [FechaObtenido]) VALUES (1, N'058418f2-70c8-428d-b738-621f06065f28', 1, CAST(N'2024-09-16T00:00:00.000' AS DateTime))
INSERT [dbo].[UsuariosMedallas] ([IDUsuarioMedalla], [IDUsuario], [IDMedalla], [FechaObtenido]) VALUES (2, N'058418f2-70c8-428d-b738-621f06065f28', 4, CAST(N'2024-09-16T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UsuariosMedallas] OFF
GO
ALTER TABLE [dbo].[Etiquetas] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Medallas] ADD  CONSTRAINT [DF__Medallas__Create__41EDCAC5]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [FechaNotificacion]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PublicacionesVotos] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RecompensasUsuario] ADD  CONSTRAINT [DF__Recompens__Fecha__3493CFA7]  DEFAULT (getdate()) FOR [FechaObtencion]
GO
ALTER TABLE [dbo].[RecompensasUsuario] ADD  CONSTRAINT [DF__Recompens__Creat__3587F3E0]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Respuestas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Respuestas] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RespuestasVotos] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Archivos]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[Archivos]  WITH CHECK ADD FOREIGN KEY([IDRespuesta])
REFERENCES [dbo].[Respuestas] ([IDRespuesta])
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones]  WITH CHECK ADD FOREIGN KEY([IDEtiqueta])
REFERENCES [dbo].[Etiquetas] ([IDEtiqueta])
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[PublicacionesGuardadas]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[PublicacionesVotos]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[RecompensasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RecompensasUsuario_Recompensas] FOREIGN KEY([IDRecompensa])
REFERENCES [dbo].[Recompensas] ([IDRecompensa])
GO
ALTER TABLE [dbo].[RecompensasUsuario] CHECK CONSTRAINT [FK_RecompensasUsuario_Recompensas]
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[RespuestasVotos]  WITH CHECK ADD FOREIGN KEY([IDRespuesta])
REFERENCES [dbo].[Respuestas] ([IDRespuesta])
GO
ALTER TABLE [dbo].[UsuariosMedallas]  WITH CHECK ADD  CONSTRAINT [FK__UsuariosM__IDMed__45BE5BA9] FOREIGN KEY([IDMedalla])
REFERENCES [dbo].[Medallas] ([IDMedalla])
GO
ALTER TABLE [dbo].[UsuariosMedallas] CHECK CONSTRAINT [FK__UsuariosM__IDMed__45BE5BA9]
GO
USE [master]
GO
