USE [master]
GO
/****** Object:  Database [TFI_PLOFTEC_FORUM]    Script Date: 28/5/2025 10:31:35 ******/
CREATE DATABASE [TFI_PLOFTEC_FORUM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TFI_PLOFTEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TFI_PLOFTEC.mdf' , SIZE = 466944KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TFI_PLOFTEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TFI_PLOFTEC_log.ldf' , SIZE = 925696KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TFI_PLOFTEC_FORUM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TFI_PLOFTEC_FORUM]
GO
/****** Object:  User [testUser]    Script Date: 28/5/2025 10:31:35 ******/
CREATE USER [testUser] FOR LOGIN [testUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [testUser]
GO
/****** Object:  Table [dbo].[PublicacionesVotos]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionesVotos](
	[IDPublicacion] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Positivo] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[IDPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Contenido] [varchar](max) NOT NULL,
	[Recompensa] [int] NOT NULL,
	[Visitas] [int] NOT NULL,
	[Respondida] [bit] NOT NULL,
	[Cerrada] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaCierre] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasVotos]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasVotos](
	[IDRespuesta] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Positivo] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[IDRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[TextoRespuesta] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[RespuestaCorrecta] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecompensasUsuario]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecompensasUsuario](
	[IDRecompensaUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDRecompensa] [int] NOT NULL,
	[FechaObtencion] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Recompen__AA2065880C3F5BED] PRIMARY KEY CLUSTERED 
(
	[IDRecompensaUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recompensas]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recompensas](
	[IDRecompensa] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[Tipo] [varchar](50) NULL,
	[Valor] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK__Recompen__AA206588F4E34CD1] PRIMARY KEY CLUSTERED 
(
	[IDRecompensa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_topThreeUsersLastWeek]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_topThreeUsersLastWeek] AS
SELECT TOP 3
    U.IDUsuario,
    ISNULL((
        SELECT SUM(R.Valor)
        FROM RecompensasUsuario RU
		JOIN Recompensas R ON RU.IDRecompensa = R.IDRecompensa
        WHERE RU.IDUsuario = U.IDUsuario
          AND RU.FechaObtencion >= DATEADD(DAY, -7, GETDATE())
    ), 0) +

    ISNULL((
        SELECT COUNT(*)
        FROM RespuestasVotos RV
        JOIN Respuestas R ON RV.IDRespuesta = R.IDRespuesta
        WHERE RV.Positivo = 1
          AND R.IDUsuario = U.IDUsuario
          AND RV.CreateDate >= DATEADD(DAY, -7, GETDATE())
    ), 0) * 10 +

    ISNULL((
        SELECT COUNT(*)
        FROM PublicacionesVotos PV
        JOIN Publicaciones P ON PV.IDPublicacion = P.IDPublicacion
        WHERE PV.Positivo = 1
          AND P.IDUsuario = U.IDUsuario
          AND PV.CreateDate >= DATEADD(DAY, -7, GETDATE())
    ), 0) * 10

    AS TotalRecompensa
FROM RecompensasUsuario U
WHERE U.FechaObtencion >= DATEADD(DAY, -7, GETDATE())
GROUP BY U.IDUsuario
ORDER BY TotalRecompensa DESC;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archivos]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivos](
	[IDArchivo] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDRespuesta] [int] NOT NULL,
	[NombreArchivo] [varchar](100) NOT NULL,
	[TipoArchivo] [varchar](50) NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
	[Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[IDEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[NombreEtiqueta] [varchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtiquetasPublicaciones]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtiquetasPublicaciones](
	[IDEtiquetaPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDEtiqueta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEtiquetaPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTable]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[LogEvent] [nvarchar](max) NULL,
	[ReferenceNumber] [int] NULL,
	[ReferenceType] [varchar](50) NULL,
 CONSTRAINT [PK_LogTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medallas]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medallas](
	[IDMedalla] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedalla] [varchar](100) NOT NULL,
	[Descripcion] [varchar](1000) NOT NULL,
	[CantidadEntregada] [int] NOT NULL,
	[ImagenMedalla] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK__Medallas__ABA1FD0144A663C9] PRIMARY KEY CLUSTERED 
(
	[IDMedalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[IDNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Mensaje] [varchar](1000) NOT NULL,
	[FechaNotificacion] [datetime2](7) NOT NULL,
	[Leida] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionesGuardadas]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionesGuardadas](
	[IDPublicacionGuardada] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPublicacionGuardada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TextoPredicciones]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextoPredicciones](
	[IDTextoPrediccion] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](max) NULL,
	[Etiquetas] [nvarchar](max) NULL,
 CONSTRAINT [PK_TextoPredicciones] PRIMARY KEY CLUSTERED 
(
	[IDTextoPrediccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosMedallas]    Script Date: 28/5/2025 10:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosMedallas](
	[IDUsuarioMedalla] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDMedalla] [int] NOT NULL,
	[FechaObtenido] [datetime] NOT NULL,
 CONSTRAINT [PK__Usuarios__9B3DD3F88D28F10C] PRIMARY KEY CLUSTERED 
(
	[IDUsuarioMedalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Etiquetas] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Medallas] ADD  CONSTRAINT [DF__Medallas__Create__41EDCAC5]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [FechaNotificacion]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PublicacionesVotos] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RecompensasUsuario] ADD  CONSTRAINT [DF__Recompens__Fecha__3493CFA7]  DEFAULT (getdate()) FOR [FechaObtencion]
GO
ALTER TABLE [dbo].[RecompensasUsuario] ADD  CONSTRAINT [DF__Recompens__Creat__3587F3E0]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Respuestas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Respuestas] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RespuestasVotos] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Archivos]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[Archivos]  WITH CHECK ADD FOREIGN KEY([IDRespuesta])
REFERENCES [dbo].[Respuestas] ([IDRespuesta])
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones]  WITH CHECK ADD FOREIGN KEY([IDEtiqueta])
REFERENCES [dbo].[Etiquetas] ([IDEtiqueta])
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[PublicacionesGuardadas]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[PublicacionesVotos]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[RecompensasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RecompensasUsuario_Recompensas] FOREIGN KEY([IDRecompensa])
REFERENCES [dbo].[Recompensas] ([IDRecompensa])
GO
ALTER TABLE [dbo].[RecompensasUsuario] CHECK CONSTRAINT [FK_RecompensasUsuario_Recompensas]
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[RespuestasVotos]  WITH CHECK ADD FOREIGN KEY([IDRespuesta])
REFERENCES [dbo].[Respuestas] ([IDRespuesta])
GO
ALTER TABLE [dbo].[UsuariosMedallas]  WITH CHECK ADD  CONSTRAINT [FK__UsuariosM__IDMed__45BE5BA9] FOREIGN KEY([IDMedalla])
REFERENCES [dbo].[Medallas] ([IDMedalla])
GO
ALTER TABLE [dbo].[UsuariosMedallas] CHECK CONSTRAINT [FK__UsuariosM__IDMed__45BE5BA9]
GO
USE [master]
GO
