USE [master]
GO
/****** Object:  Database [TFI_PLOFTEC_FORUM]    Script Date: 18/11/2025 18:04:59 ******/
CREATE DATABASE [TFI_PLOFTEC_FORUM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TFI_PLOFTEC_FORUM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TFI_PLOFTEC_FORUM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TFI_PLOFTEC_FORUM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TFI_PLOFTEC_FORUM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TFI_PLOFTEC_FORUM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TFI_PLOFTEC_FORUM]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[IDPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Titulo] [nvarchar](250) NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[Recompensa] [int] NOT NULL,
	[Visitas] [int] NOT NULL,
	[Respondida] [bit] NOT NULL,
	[Cerrada] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaCierre] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Publicaciones] PRIMARY KEY CLUSTERED 
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recompensas]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recompensas](
	[IDRecompensa] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Valor] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Recompensas] PRIMARY KEY CLUSTERED 
(
	[IDRecompensa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionesVotos]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionesVotos](
	[IDPublicacion] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Positivo] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PublicacionesVotos] PRIMARY KEY CLUSTERED 
(
	[IDPublicacion] ASC,
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[IDRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[TextoRespuesta] [nvarchar](max) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[RespuestaCorrecta] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Respuestas] PRIMARY KEY CLUSTERED 
(
	[IDRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecompensasUsuario]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecompensasUsuario](
	[IDRecompensaUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDRecompensa] [int] NOT NULL,
	[FechaObtencion] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RecompensasUsuario] PRIMARY KEY CLUSTERED 
(
	[IDRecompensaUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasVotos]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasVotos](
	[IDRespuesta] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Positivo] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RespuestasVotos] PRIMARY KEY CLUSTERED 
(
	[IDRespuesta] ASC,
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_topThreeUsersLastWeek]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_topThreeUsersLastWeek] AS
SELECT TOP 3
    U.IDUsuario,
    ISNULL((
        SELECT SUM(R.Valor)
        FROM RecompensasUsuario RU
		JOIN Recompensas R ON RU.IDRecompensa = R.IDRecompensa
        WHERE RU.IDUsuario = U.IDUsuario
          AND RU.FechaObtencion >= DATEADD(DAY, -7, GETDATE())
    ), 0) +

    ISNULL((
        SELECT COUNT(*)
        FROM RespuestasVotos RV
        JOIN Respuestas R ON RV.IDRespuesta = R.IDRespuesta
        WHERE RV.Positivo = 1
          AND R.IDUsuario = U.IDUsuario
          AND RV.CreateDate >= DATEADD(DAY, -7, GETDATE())
    ), 0) * 10 +

    ISNULL((
        SELECT COUNT(*)
        FROM PublicacionesVotos PV
        JOIN Publicaciones P ON PV.IDPublicacion = P.IDPublicacion
        WHERE PV.Positivo = 1
          AND P.IDUsuario = U.IDUsuario
          AND PV.CreateDate >= DATEADD(DAY, -7, GETDATE())
    ), 0) * 10

    AS TotalRecompensa
FROM RecompensasUsuario U
WHERE U.FechaObtencion >= DATEADD(DAY, -7, GETDATE())
GROUP BY U.IDUsuario
ORDER BY TotalRecompensa DESC;
GO
/****** Object:  View [dbo].[vw_topTenPublicationsLastWeek]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_topTenPublicationsLastWeek] AS
SELECT TOP 10 
	IDPublicacion 
FROM Publicaciones 
WHERE 
	FechaCreacion >= DATEADD(DAY, -7, GETDATE()) 
	AND Active = 1 
ORDER BY Visitas DESC
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archivos]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivos](
	[IDArchivo] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDRespuesta] [int] NOT NULL,
	[NombreArchivo] [nvarchar](100) NOT NULL,
	[TipoArchivo] [nvarchar](50) NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Archivos] PRIMARY KEY CLUSTERED 
(
	[IDArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Denuncias]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Denuncias](
	[IDDenuncia] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NULL,
	[IDRespuesta] [int] NULL,
	[IDUsuarioReporto] [nvarchar](450) NOT NULL,
	[Motivo] [nvarchar](200) NOT NULL,
	[Detalle] [nvarchar](2000) NULL,
	[FechaDenuncia] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Denuncias] PRIMARY KEY CLUSTERED 
(
	[IDDenuncia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[IDEtiqueta] [int] IDENTITY(1,1) NOT NULL,
	[NombreEtiqueta] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[DescripcionEtiqueta] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_Etiquetas] PRIMARY KEY CLUSTERED 
(
	[IDEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtiquetasPrediccionModelo]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtiquetasPrediccionModelo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModelData] [varbinary](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EtiquetasPrediccionModelo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtiquetasPublicaciones]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtiquetasPublicaciones](
	[IDEtiquetaPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[IDEtiqueta] [int] NOT NULL,
 CONSTRAINT [PK_EtiquetasPublicaciones] PRIMARY KEY CLUSTERED 
(
	[IDEtiquetaPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medallas]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medallas](
	[IDMedalla] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedalla] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](1000) NOT NULL,
	[CantidadEntregada] [int] NOT NULL,
	[ImagenMedalla] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Medallas] PRIMARY KEY CLUSTERED 
(
	[IDMedalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[IDNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[FechaNotificacion] [datetime2](7) NOT NULL,
	[Leida] [bit] NOT NULL,
 CONSTRAINT [PK_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[IDNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionesGuardadas]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionesGuardadas](
	[IDPublicacionGuardada] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDPublicacion] [int] NOT NULL,
 CONSTRAINT [PK_PublicacionesGuardadas] PRIMARY KEY CLUSTERED 
(
	[IDPublicacionGuardada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SesionAyuda]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SesionAyuda](
	[IDSesion] [uniqueidentifier] NOT NULL,
	[IDReserva] [int] NOT NULL,
	[Dominio] [nvarchar](200) NOT NULL,
	[NombreSala] [nvarchar](200) NOT NULL,
	[Inicio] [datetime2](3) NOT NULL,
	[Fin] [datetime2](3) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IDEstado] [int] NOT NULL,
 CONSTRAINT [PK_SesionAyuda] PRIMARY KEY CLUSTERED 
(
	[IDSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SesionAyudaEstado]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SesionAyudaEstado](
	[IDEstado] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SesionAyudaEstado] PRIMARY KEY CLUSTERED 
(
	[IDEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyuda]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyuda](
	[IDSolicitudAyuda] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](400) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Urgencia] [tinyint] NOT NULL,
	[Lenguaje] [nvarchar](20) NULL,
	[IDUsuarioSolicitante] [nvarchar](450) NOT NULL,
	[IDEstado] [int] NOT NULL,
	[RecompensaBase] [decimal](12, 2) NOT NULL,
	[IncrementoPorHora] [decimal](6, 4) NOT NULL,
	[FechaVencimiento] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SolicitudAyuda] PRIMARY KEY CLUSTERED 
(
	[IDSolicitudAyuda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaChat]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaChat](
	[IDChat] [int] IDENTITY(1,1) NOT NULL,
	[IDSolicitudAyuda] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IDUsuarioAyudante] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_SolicitudAyudaChat] PRIMARY KEY CLUSTERED 
(
	[IDChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaChatMensaje]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaChatMensaje](
	[IDMensaje] [int] IDENTITY(1,1) NOT NULL,
	[IDChat] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SolicitudAyudaChatMensaje] PRIMARY KEY CLUSTERED 
(
	[IDMensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaChatMensajeLectura]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaChatMensajeLectura](
	[IDMensaje] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_SolicitudAyudaChatMensajeLectura] PRIMARY KEY CLUSTERED 
(
	[IDMensaje] ASC,
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaChatParticipante]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaChatParticipante](
	[IDChat] [int] NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[Rol] [tinyint] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SolicitudChatParticipante] PRIMARY KEY CLUSTERED 
(
	[IDChat] ASC,
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaDisponibilidad]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaDisponibilidad](
	[IDDisponibilidad] [int] IDENTITY(1,1) NOT NULL,
	[IDSolicitudAyuda] [int] NOT NULL,
	[Inicio] [datetime2](3) NOT NULL,
	[Fin] [datetime2](3) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SolicitudAyudaDisponibilidad] PRIMARY KEY CLUSTERED 
(
	[IDDisponibilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaEstado]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaEstado](
	[IDEstado] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SolicitudAyudaEstado] PRIMARY KEY CLUSTERED 
(
	[IDEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaEtiquetas]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaEtiquetas](
	[IDSolicitudAyudaEtiquetas] [int] IDENTITY(1,1) NOT NULL,
	[IDSolicitudAyuda] [int] NOT NULL,
	[IDEtiqueta] [int] NOT NULL,
 CONSTRAINT [PK_SolicitudAyudaEtiquetas] PRIMARY KEY CLUSTERED 
(
	[IDSolicitudAyudaEtiquetas] ASC,
	[IDSolicitudAyuda] ASC,
	[IDEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaHistorial]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaHistorial](
	[IDHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IDSolicitudAyuda] [int] NOT NULL,
	[EstadoAnterior] [tinyint] NULL,
	[EstadoNuevo] [tinyint] NOT NULL,
	[Motivo] [nvarchar](300) NULL,
	[UserIdAccion] [nvarchar](450) NULL,
	[CreateDate] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_SolicitudAyudaHistorial] PRIMARY KEY CLUSTERED 
(
	[IDHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyudaReserva]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyudaReserva](
	[IDReserva] [int] IDENTITY(1,1) NOT NULL,
	[IDDisponibilidad] [int] NOT NULL,
	[IDUsuarioAyudante] [nvarchar](450) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SolicitudAyudaReserva] PRIMARY KEY CLUSTERED 
(
	[IDReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminosCondiciones]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminosCondiciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Version] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TerminosCondiciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminosCondicionesSesionAyuda]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminosCondicionesSesionAyuda](
	[UserId] [nvarchar](450) NOT NULL,
	[IdTyC] [int] NOT NULL,
	[IDSesion] [uniqueidentifier] NOT NULL,
	[Aceptado] [bit] NOT NULL,
	[Version] [int] NOT NULL,
	[FechaAceptado] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_TerminosCondicionesSesionAyuda] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[IdTyC] ASC,
	[IDSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TextoPredicciones]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextoPredicciones](
	[IDTextoPrediccion] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](max) NULL,
	[Etiquetas] [nvarchar](max) NULL,
 CONSTRAINT [PK_TextoPredicciones] PRIMARY KEY CLUSTERED 
(
	[IDTextoPrediccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosMedallas]    Script Date: 18/11/2025 18:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosMedallas](
	[IDUsuarioMedalla] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [nvarchar](450) NOT NULL,
	[IDMedalla] [int] NOT NULL,
	[FechaObtenido] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UsuariosMedallas] PRIMARY KEY CLUSTERED 
(
	[IDUsuarioMedalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250629225110_InitialCreate', N'8.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250707140847_DELETE_TABLES_OTHER_DB', N'8.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250729004411_ALTER_TABLE_NOTIFICACIONES', N'8.0.17')
GO
SET IDENTITY_INSERT [dbo].[Etiquetas] ON 

INSERT [dbo].[Etiquetas] ([IDEtiqueta], [NombreEtiqueta], [Active], [CreateDate], [UpdateDate], [DescripcionEtiqueta]) VALUES (1, N'C#', 1, CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), NULL, N'Es un lenguaje multiplataforma de uso general que hace que los desarrolladores sean productivos al escribir código de alto rendimiento. Con millones de desarrolladores, C# es el lenguaje .')
INSERT [dbo].[Etiquetas] ([IDEtiqueta], [NombreEtiqueta], [Active], [CreateDate], [UpdateDate], [DescripcionEtiqueta]) VALUES (2, N'EF', 1, CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), NULL, N'EF Core es el sucesor moderno y multiplataforma de EF, que ofrece un rendimiento mejorado, una mayor compatibilidad con bases de datos y una arquitectura más flexible')
INSERT [dbo].[Etiquetas] ([IDEtiqueta], [NombreEtiqueta], [Active], [CreateDate], [UpdateDate], [DescripcionEtiqueta]) VALUES (3, N'ENTITY FRAMEWORK', 1, CAST(N'2000-08-28T00:00:00.0000000' AS DateTime2), NULL, N'Entity Framework permite a los desarrolladores trabajar con datos en forma de objetos y propiedades específicos del dominio, como clientes y direcciones de cliente, sin tener que preocuparse por sí mismos con las tablas y columnas de base de datos subyacentes donde se almacenan estos datos.')
SET IDENTITY_INSERT [dbo].[Etiquetas] OFF
GO
SET IDENTITY_INSERT [dbo].[EtiquetasPrediccionModelo] ON 

SET IDENTITY_INSERT [dbo].[EtiquetasPrediccionModelo] OFF
GO
SET IDENTITY_INSERT [dbo].[EtiquetasPublicaciones] ON 

INSERT [dbo].[EtiquetasPublicaciones] ([IDEtiquetaPublicacion], [IDPublicacion], [IDEtiqueta]) VALUES (4, 1, 1)
INSERT [dbo].[EtiquetasPublicaciones] ([IDEtiquetaPublicacion], [IDPublicacion], [IDEtiqueta]) VALUES (5, 1, 2)
INSERT [dbo].[EtiquetasPublicaciones] ([IDEtiquetaPublicacion], [IDPublicacion], [IDEtiqueta]) VALUES (6, 1, 3)
SET IDENTITY_INSERT [dbo].[EtiquetasPublicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Medallas] ON 

SET IDENTITY_INSERT [dbo].[Medallas] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificaciones] ON 

INSERT [dbo].[Notificaciones] ([IDNotificacion], [IDUsuario], [Mensaje], [FechaNotificacion], [Leida]) VALUES (1, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'El usuario 631f76c9-42b1-4987-a89a-3653d9906996 ha votado tu publicación  como positivo.', CAST(N'2025-07-28T21:26:46.3227822' AS DateTime2), 1)
INSERT [dbo].[Notificaciones] ([IDNotificacion], [IDUsuario], [Mensaje], [FechaNotificacion], [Leida]) VALUES (4, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'El usuario gonza2_28.00@hotmail.com ha respondido a tu publicación 5.', CAST(N'2025-07-29T00:37:37.6334967' AS DateTime2), 1)
INSERT [dbo].[Notificaciones] ([IDNotificacion], [IDUsuario], [Mensaje], [FechaNotificacion], [Leida]) VALUES (5, N'631f76c9-42b1-4987-a89a-3653d9906996', N'El usuario Pedro Galvan ha votado tu respuesta como positivo', CAST(N'2025-07-31T22:12:41.7906038' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Notificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Publicaciones] ON 

INSERT [dbo].[Publicaciones] ([IDPublicacion], [IDUsuario], [Titulo], [Contenido], [Recompensa], [Visitas], [Respondida], [Cerrada], [FechaCreacion], [FechaCierre], [Active], [UpdateDate]) VALUES (1, N'058418f2-70c8-428d-b738-621f06065f28', N'Que es entity framework?', N'string', 260, 25, 1, 0, CAST(N'2025-10-21T10:29:26.0810291' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1, CAST(N'2025-09-14T15:03:18.5050487' AS DateTime2))
INSERT [dbo].[Publicaciones] ([IDPublicacion], [IDUsuario], [Titulo], [Contenido], [Recompensa], [Visitas], [Respondida], [Cerrada], [FechaCreacion], [FechaCierre], [Active], [UpdateDate]) VALUES (3, N'6850bf58-1b79-44e0-810a-29dcd29be9d7', N'Mi Segunda publicacion', N'Esta segunda publicacion se trata de que somos devs :D', 0, 513, 0, 0, CAST(N'2023-09-18T17:12:12.8319496' AS DateTime2), NULL, 1, CAST(N'2025-09-27T20:36:14.3263009' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Publicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[PublicacionesGuardadas] ON 

INSERT [dbo].[PublicacionesGuardadas] ([IDPublicacionGuardada], [IDUsuario], [IDPublicacion]) VALUES (1056, N'f1418643-6cb0-4b63-ad74-0d866ef38319', 5)
SET IDENTITY_INSERT [dbo].[PublicacionesGuardadas] OFF
GO
INSERT [dbo].[PublicacionesVotos] ([IDPublicacion], [IDUsuario], [Positivo], [CreateDate]) VALUES (5, N'631f76c9-42b1-4987-a89a-3653d9906996', 1, CAST(N'2025-07-29T00:26:46.2698720' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Recompensas] ON 

INSERT [dbo].[Recompensas] ([IDRecompensa], [Nombre], [Descripcion], [Tipo], [Valor], [CreateDate]) VALUES (1, N'Actividad', N'Otorgado por estar mas de 1 semana activo en nuestra plataforma!', N'Actividad', 10, CAST(N'2025-05-17T19:40:31.1900000' AS DateTime2))
INSERT [dbo].[Recompensas] ([IDRecompensa], [Nombre], [Descripcion], [Tipo], [Valor], [CreateDate]) VALUES (2, N'Respuesta correcta', N'Otorgado cuando tu respuesta fue marcada como la mejor', N'RespuestaCorrecta', 50, CAST(N'2025-05-17T19:40:31.1900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Recompensas] OFF
GO
SET IDENTITY_INSERT [dbo].[RecompensasUsuario] ON 

INSERT [dbo].[RecompensasUsuario] ([IDRecompensaUsuario], [IDUsuario], [IDRecompensa], [FechaObtencion], [Active], [CreateDate]) VALUES (10, N'631f76c9-42b1-4987-a89a-3653d9906996', 1, CAST(N'2025-06-22T21:46:30.8133333' AS DateTime2), 1, CAST(N'2023-10-28T21:46:30.8133333' AS DateTime2))
INSERT [dbo].[RecompensasUsuario] ([IDRecompensaUsuario], [IDUsuario], [IDRecompensa], [FechaObtencion], [Active], [CreateDate]) VALUES (11, N'058418f2-70c8-428d-b738-621f06065f28', 1, CAST(N'2025-06-22T21:52:01.5100000' AS DateTime2), 1, CAST(N'2023-10-28T21:52:01.5100000' AS DateTime2))
INSERT [dbo].[RecompensasUsuario] ([IDRecompensaUsuario], [IDUsuario], [IDRecompensa], [FechaObtencion], [Active], [CreateDate]) VALUES (12, N'631f76c9-42b1-4987-a89a-3653d9906996', 2, CAST(N'2025-06-22T21:53:13.0100000' AS DateTime2), 1, CAST(N'2023-10-28T21:53:13.0100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RecompensasUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuestas] ON 

INSERT [dbo].[Respuestas] ([IDRespuesta], [IDPublicacion], [IDUsuario], [TextoRespuesta], [FechaCreacion], [RespuestaCorrecta], [Active], [UpdateDate]) VALUES (1, 1, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'HOLA GONZALO', CAST(N'2025-06-16T18:00:00.0000000' AS DateTime2), 0, 0, CAST(N'2025-06-16T18:40:18.1228011' AS DateTime2))
INSERT [dbo].[Respuestas] ([IDRespuesta], [IDPublicacion], [IDUsuario], [TextoRespuesta], [FechaCreacion], [RespuestaCorrecta], [Active], [UpdateDate]) VALUES (2, 1, N'6ff29440-d0ab-44d6-bdf9-9a333ef40667', N'Esta es la respuesta correcta', CAST(N'2025-06-16T18:00:30.6433333' AS DateTime2), 1, 1, NULL)
INSERT [dbo].[Respuestas] ([IDRespuesta], [IDPublicacion], [IDUsuario], [TextoRespuesta], [FechaCreacion], [RespuestaCorrecta], [Active], [UpdateDate]) VALUES (3, 2, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'Esta es la respuesta casi correcta', CAST(N'2023-10-28T21:52:45.5100000' AS DateTime2), 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[Respuestas] OFF
GO
INSERT [dbo].[RespuestasVotos] ([IDRespuesta], [IDUsuario], [Positivo], [CreateDate]) VALUES (1, N'f1418643-6cb0-4b63-ad74-0d866ef38319', 1, CAST(N'2025-06-01T23:06:39.2617064' AS DateTime2))
INSERT [dbo].[RespuestasVotos] ([IDRespuesta], [IDUsuario], [Positivo], [CreateDate]) VALUES (2, N'f1418643-6cb0-4b63-ad74-0d866ef38319', 0, CAST(N'2025-06-12T22:36:26.0505912' AS DateTime2))
INSERT [dbo].[RespuestasVotos] ([IDRespuesta], [IDUsuario], [Positivo], [CreateDate]) VALUES (4, N'f1418643-6cb0-4b63-ad74-0d866ef38319', 1, CAST(N'2025-06-13T23:24:34.3617970' AS DateTime2))
GO
INSERT [dbo].[SesionAyuda] ([IDSesion], [IDReserva], [Dominio], [NombreSala], [Inicio], [Fin], [Active], [CreateDate], [UpdateDate], [IDEstado]) VALUES (N'022bbc81-7fd2-4c8a-b6b3-2bf6731dd486', 3003, N'liveHelp/meeting/022bbc81-7fd2-4c8a-b6b3-2bf6731dd486', N'liveHelp-022bbc81-7fd2-4c8a-b6b3-2bf6731dd486', CAST(N'2025-11-01T17:40:38.2080000' AS DateTime2), CAST(N'2025-11-01T17:55:38.2080000' AS DateTime2), 0, CAST(N'2025-11-01T15:52:34.7860341' AS DateTime2), CAST(N'2025-11-06T17:15:30.4130355' AS DateTime2), 4)
INSERT [dbo].[SesionAyuda] ([IDSesion], [IDReserva], [Dominio], [NombreSala], [Inicio], [Fin], [Active], [CreateDate], [UpdateDate], [IDEstado]) VALUES (N'1965008b-6406-447b-9e0f-ce18d3747f67', 4002, N'liveHelp/meeting/1965008b-6406-447b-9e0f-ce18d3747f67', N'liveHelp-1965008b-6406-447b-9e0f-ce18d3747f67', CAST(N'2025-11-07T04:05:00.0000000' AS DateTime2), CAST(N'2025-11-07T04:35:00.0000000' AS DateTime2), 1, CAST(N'2025-11-06T20:11:04.4130870' AS DateTime2), CAST(N'2025-11-06T17:15:30.4132986' AS DateTime2), 1)
GO
SET IDENTITY_INSERT [dbo].[SesionAyudaEstado] ON 

INSERT [dbo].[SesionAyudaEstado] ([IDEstado], [Estado]) VALUES (4, N'Cancelada')
INSERT [dbo].[SesionAyudaEstado] ([IDEstado], [Estado]) VALUES (3, N'Finalizada')
INSERT [dbo].[SesionAyudaEstado] ([IDEstado], [Estado]) VALUES (2, N'Iniciada')
SET IDENTITY_INSERT [dbo].[SesionAyudaEstado] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudAyuda] ON 

SET IDENTITY_INSERT [dbo].[SolicitudAyuda] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudAyudaChat] ON 

INSERT [dbo].[SolicitudAyudaChat] ([IDChat], [IDSolicitudAyuda], [Active], [CreateDate], [UpdateDate], [IDUsuarioAyudante]) VALUES (13, 12, 1, CAST(N'2025-10-08T02:47:15.2512825' AS DateTime2), NULL, N'f1418643-6cb0-4b63-ad74-0d866ef38319')
INSERT [dbo].[SolicitudAyudaChat] ([IDChat], [IDSolicitudAyuda], [Active], [CreateDate], [UpdateDate], [IDUsuarioAyudante]) VALUES (14, 6, 1, CAST(N'2025-10-08T23:16:52.3621826' AS DateTime2), NULL, N'f1418643-6cb0-4b63-ad74-0d866ef38319')
INSERT [dbo].[SolicitudAyudaChat] ([IDChat], [IDSolicitudAyuda], [Active], [CreateDate], [UpdateDate], [IDUsuarioAyudante]) VALUES (15, 10, 1, CAST(N'2025-10-08T23:17:32.2530952' AS DateTime2), NULL, N'f1418643-6cb0-4b63-ad74-0d866ef38319')
SET IDENTITY_INSERT [dbo].[SolicitudAyudaChat] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudAyudaChatMensaje] ON 

INSERT [dbo].[SolicitudAyudaChatMensaje] ([IDMensaje], [IDChat], [IDUsuario], [Mensaje], [Active], [CreateDate], [UpdateDate]) VALUES (17, 13, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'ahora?', 1, CAST(N'2025-10-07T23:47:22.9600000' AS DateTime2), NULL)
INSERT [dbo].[SolicitudAyudaChatMensaje] ([IDMensaje], [IDChat], [IDUsuario], [Mensaje], [Active], [CreateDate], [UpdateDate]) VALUES (18, 14, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'buenas buenas', 1, CAST(N'2025-10-08T20:16:55.8266667' AS DateTime2), NULL)
INSERT [dbo].[SolicitudAyudaChatMensaje] ([IDMensaje], [IDChat], [IDUsuario], [Mensaje], [Active], [CreateDate], [UpdateDate]) VALUES (19, 15, N'f1418643-6cb0-4b63-ad74-0d866ef38319', N'pedilo bro', 1, CAST(N'2025-10-08T20:17:32.3400000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[SolicitudAyudaChatMensaje] OFF
GO
INSERT [dbo].[SolicitudAyudaChatMensajeLectura] ([IDMensaje], [IDUsuario]) VALUES (17, N'058418f2-70c8-428d-b738-621f06065f28')
GO
INSERT [dbo].[SolicitudAyudaChatParticipante] ([IDChat], [IDUsuario], [Rol], [Active], [CreateDate]) VALUES (13, N'058418f2-70c8-428d-b738-621f06065f28', 0, 1, CAST(N'2025-10-08T02:47:15.4981041' AS DateTime2))
INSERT [dbo].[SolicitudAyudaChatParticipante] ([IDChat], [IDUsuario], [Rol], [Active], [CreateDate]) VALUES (13, N'f1418643-6cb0-4b63-ad74-0d866ef38319', 1, 1, CAST(N'2025-10-08T02:47:15.4981902' AS DateTime2))
INSERT [dbo].[SolicitudAyudaChatParticipante] ([IDChat], [IDUsuario], [Rol], [Active], [CreateDate]) VALUES (14, N'058418f2-70c8-428d-b738-621f06065f28', 0, 1, CAST(N'2025-10-08T23:16:52.5460477' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[SolicitudAyudaDisponibilidad] ON 

INSERT [dbo].[SolicitudAyudaDisponibilidad] ([IDDisponibilidad], [IDSolicitudAyuda], [Inicio], [Fin], [Estado], [CreateDate], [UpdateDate]) VALUES (1002, 6, CAST(N'2025-11-07T19:15:00.0000000' AS DateTime2), CAST(N'2025-11-07T19:37:00.0000000' AS DateTime2), 1, CAST(N'2025-09-28T22:42:53.0300000' AS DateTime2), CAST(N'2025-11-06T17:15:30.4120202' AS DateTime2))
INSERT [dbo].[SolicitudAyudaDisponibilidad] ([IDDisponibilidad], [IDSolicitudAyuda], [Inicio], [Fin], [Estado], [CreateDate], [UpdateDate]) VALUES (1003, 6, CAST(N'2025-11-07T11:30:00.0000000' AS DateTime2), CAST(N'2025-11-07T11:45:00.0000000' AS DateTime2), 1, CAST(N'2025-09-28T22:42:53.0300000' AS DateTime2), CAST(N'2025-11-06T17:15:30.4123836' AS DateTime2))
INSERT [dbo].[SolicitudAyudaDisponibilidad] ([IDDisponibilidad], [IDSolicitudAyuda], [Inicio], [Fin], [Estado], [CreateDate], [UpdateDate]) VALUES (1004, 6, CAST(N'2025-11-07T12:00:00.0000000' AS DateTime2), CAST(N'2025-11-07T12:30:00.0000000' AS DateTime2), 1, CAST(N'2025-09-28T22:42:53.0300000' AS DateTime2), CAST(N'2025-11-06T17:15:30.4123876' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SolicitudAyudaDisponibilidad] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudAyudaEstado] ON 

INSERT [dbo].[SolicitudAyudaEstado] ([IDEstado], [Estado]) VALUES (1, N'Activa')
INSERT [dbo].[SolicitudAyudaEstado] ([IDEstado], [Estado]) VALUES (3, N'Cancelada')
INSERT [dbo].[SolicitudAyudaEstado] ([IDEstado], [Estado]) VALUES (5, N'Expirada')
SET IDENTITY_INSERT [dbo].[SolicitudAyudaEstado] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudAyudaEtiquetas] ON 

INSERT [dbo].[SolicitudAyudaEtiquetas] ([IDSolicitudAyudaEtiquetas], [IDSolicitudAyuda], [IDEtiqueta]) VALUES (1, 12, 1)
INSERT [dbo].[SolicitudAyudaEtiquetas] ([IDSolicitudAyudaEtiquetas], [IDSolicitudAyuda], [IDEtiqueta]) VALUES (2, 12, 2)
INSERT [dbo].[SolicitudAyudaEtiquetas] ([IDSolicitudAyudaEtiquetas], [IDSolicitudAyuda], [IDEtiqueta]) VALUES (3, 1002, 2)
SET IDENTITY_INSERT [dbo].[SolicitudAyudaEtiquetas] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudAyudaReserva] ON 

INSERT [dbo].[SolicitudAyudaReserva] ([IDReserva], [IDDisponibilidad], [IDUsuarioAyudante], [Estado], [Active], [CreateDate], [UpdateDate]) VALUES (3003, 1009, N'058418f2-70c8-428d-b738-621f06065f28', 3, 0, CAST(N'2025-11-01T15:52:34.7086455' AS DateTime2), CAST(N'2025-11-06T17:15:30.4123947' AS DateTime2))
INSERT [dbo].[SolicitudAyudaReserva] ([IDReserva], [IDDisponibilidad], [IDUsuarioAyudante], [Estado], [Active], [CreateDate], [UpdateDate]) VALUES (4002, 1017, N'058418f2-70c8-428d-b738-621f06065f28', 3, 0, CAST(N'2025-11-06T20:11:04.2553948' AS DateTime2), CAST(N'2025-11-06T17:15:30.4132963' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SolicitudAyudaReserva] OFF
GO
SET IDENTITY_INSERT [dbo].[TerminosCondiciones] ON 

SET IDENTITY_INSERT [dbo].[TerminosCondiciones] OFF
GO
SET IDENTITY_INSERT [dbo].[TextoPredicciones] ON 

INSERT [dbo].[TextoPredicciones] ([IDTextoPrediccion], [Texto], [Etiquetas]) VALUES (1, N'¿Como se cocina un pastel?', N'Recetas, Cocina')
INSERT [dbo].[TextoPredicciones] ([IDTextoPrediccion], [Texto], [Etiquetas]) VALUES (2, N'¿Cómo cambio la batería de mi auto?', N'Automóviles, Mantenimiento')
INSERT [dbo].[TextoPredicciones] ([IDTextoPrediccion], [Texto], [Etiquetas]) VALUES (3, N'¿Cuántas patas tiene un gato?', N'Animales, Mascotas')
SET IDENTITY_INSERT [dbo].[TextoPredicciones] OFF
GO
/****** Object:  Index [IX_Archivos_IDPublicacion]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Archivos_IDPublicacion] ON [dbo].[Archivos]
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Archivos_IDRespuesta]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Archivos_IDRespuesta] ON [dbo].[Archivos]
(
	[IDRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Denuncias_IDPublicacion]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Denuncias_IDPublicacion] ON [dbo].[Denuncias]
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Denuncias_IDRespuesta]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Denuncias_IDRespuesta] ON [dbo].[Denuncias]
(
	[IDRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Denuncias_IDUsuarioReporto]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Denuncias_IDUsuarioReporto] ON [dbo].[Denuncias]
(
	[IDUsuarioReporto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EtiquetasPublicaciones_IDEtiqueta]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_EtiquetasPublicaciones_IDEtiqueta] ON [dbo].[EtiquetasPublicaciones]
(
	[IDEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EtiquetasPublicaciones_IDPublicacion]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_EtiquetasPublicaciones_IDPublicacion] ON [dbo].[EtiquetasPublicaciones]
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublicacionesGuardadas_IDPublicacion]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_PublicacionesGuardadas_IDPublicacion] ON [dbo].[PublicacionesGuardadas]
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecompensasUsuario_IDRecompensa]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_RecompensasUsuario_IDRecompensa] ON [dbo].[RecompensasUsuario]
(
	[IDRecompensa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Respuestas_IDPublicacion]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Respuestas_IDPublicacion] ON [dbo].[Respuestas]
(
	[IDPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SesionAyuda_IDEstado]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SesionAyuda_IDEstado] ON [dbo].[SesionAyuda]
(
	[IDEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SesionAyuda_Reserva]    Script Date: 18/11/2025 18:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SesionAyuda_Reserva] ON [dbo].[SesionAyuda]
(
	[IDReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SesionAyuda_Sala]    Script Date: 18/11/2025 18:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SesionAyuda_Sala] ON [dbo].[SesionAyuda]
(
	[Dominio] ASC,
	[NombreSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SesionAyudaEstado_Estado]    Script Date: 18/11/2025 18:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SesionAyudaEstado_Estado] ON [dbo].[SesionAyudaEstado]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SA_IDEstado]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SA_IDEstado] ON [dbo].[SolicitudAyuda]
(
	[IDEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SA_Solicitante]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SA_Solicitante] ON [dbo].[SolicitudAyuda]
(
	[IDUsuarioSolicitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SA_Vencimiento]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SA_Vencimiento] ON [dbo].[SolicitudAyuda]
(
	[FechaVencimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SAChat_Solicitud]    Script Date: 18/11/2025 18:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SAChat_Solicitud] ON [dbo].[SolicitudAyudaChat]
(
	[IDSolicitudAyuda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAChatMsg_Chat]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SAChatMsg_Chat] ON [dbo].[SolicitudAyudaChatMensaje]
(
	[IDChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAChatMsg_ChatDate]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SAChatMsg_ChatDate] ON [dbo].[SolicitudAyudaChatMensaje]
(
	[IDChat] ASC,
	[CreateDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SAChatMsgRead_User]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SAChatMsgRead_User] ON [dbo].[SolicitudAyudaChatMensajeLectura]
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SCP_ChatRol]    Script Date: 18/11/2025 18:04:59 ******/
ALTER TABLE [dbo].[SolicitudAyudaChatParticipante] ADD  CONSTRAINT [UQ_SCP_ChatRol] UNIQUE NONCLUSTERED 
(
	[IDChat] ASC,
	[Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAD_EstadoTiempo]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SAD_EstadoTiempo] ON [dbo].[SolicitudAyudaDisponibilidad]
(
	[Estado] ASC,
	[Inicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAD_Solicitud]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SAD_Solicitud] ON [dbo].[SolicitudAyudaDisponibilidad]
(
	[IDSolicitudAyuda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SolicitudAyudaEstado_Estado]    Script Date: 18/11/2025 18:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SolicitudAyudaEstado_Estado] ON [dbo].[SolicitudAyudaEstado]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SolicitudAyudaEtiquetas_IDEtiqueta]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SolicitudAyudaEtiquetas_IDEtiqueta] ON [dbo].[SolicitudAyudaEtiquetas]
(
	[IDEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_SolicitudAyudaEtiquetas]    Script Date: 18/11/2025 18:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SolicitudAyudaEtiquetas] ON [dbo].[SolicitudAyudaEtiquetas]
(
	[IDSolicitudAyuda] ASC,
	[IDEtiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAH_Solicitud]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SAH_Solicitud] ON [dbo].[SolicitudAyudaHistorial]
(
	[IDSolicitudAyuda] ASC,
	[CreateDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SolRes_Ayudante]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_SolRes_Ayudante] ON [dbo].[SolicitudAyudaReserva]
(
	[IDUsuarioAyudante] ASC,
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_SolRes_Disponibilidad_Activa]    Script Date: 18/11/2025 18:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SolRes_Disponibilidad_Activa] ON [dbo].[SolicitudAyudaReserva]
(
	[IDDisponibilidad] ASC
)
WHERE ([Estado] IN ((0), (1), (2)))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TerminosCondicionesSesionAyuda_IDSesion]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_TerminosCondicionesSesionAyuda_IDSesion] ON [dbo].[TerminosCondicionesSesionAyuda]
(
	[IDSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TerminosCondicionesSesionAyuda_IdTyC]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_TerminosCondicionesSesionAyuda_IdTyC] ON [dbo].[TerminosCondicionesSesionAyuda]
(
	[IdTyC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuariosMedallas_IDMedalla]    Script Date: 18/11/2025 18:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_UsuariosMedallas_IDMedalla] ON [dbo].[UsuariosMedallas]
(
	[IDMedalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Archivos] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[Archivos] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Denuncias] ADD  CONSTRAINT [DF_Denuncias_FechaDenuncia]  DEFAULT (getdate()) FOR [FechaDenuncia]
GO
ALTER TABLE [dbo].[Denuncias] ADD  CONSTRAINT [DF_Denuncias_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Denuncias] ADD  CONSTRAINT [DF_Denuncias_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Etiquetas] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[Etiquetas] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Etiquetas] ADD  DEFAULT (N'') FOR [DescripcionEtiqueta]
GO
ALTER TABLE [dbo].[EtiquetasPrediccionModelo] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[EtiquetasPrediccionModelo] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Medallas] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[Medallas] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[PublicacionesVotos] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Recompensas] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RecompensasUsuario] ADD  DEFAULT (getdate()) FOR [FechaObtencion]
GO
ALTER TABLE [dbo].[RecompensasUsuario] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[RecompensasUsuario] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Respuestas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Respuestas] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[RespuestasVotos] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SesionAyuda] ADD  CONSTRAINT [DF__SesionAyu__Activ__3B40CD36]  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[SesionAyuda] ADD  CONSTRAINT [DF__SesionAyu__Creat__3C34F16F]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SolicitudAyuda] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[SolicitudAyuda] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SolicitudAyudaChat] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[SolicitudAyudaChat] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatMensaje] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatMensaje] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatParticipante] ADD  CONSTRAINT [DF_SCP_IsActive]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatParticipante] ADD  CONSTRAINT [DF_SCP_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SolicitudAyudaDisponibilidad] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SolicitudAyudaHistorial] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SolicitudAyudaReserva] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[SolicitudAyudaReserva] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[TerminosCondiciones] ADD  CONSTRAINT [DF_TerminosCondiciones_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[TerminosCondiciones] ADD  CONSTRAINT [DF_TerminosCondiciones_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Archivos]  WITH CHECK ADD  CONSTRAINT [FK_Archivos_Publicaciones_IDPublicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[Archivos] CHECK CONSTRAINT [FK_Archivos_Publicaciones_IDPublicacion]
GO
ALTER TABLE [dbo].[Archivos]  WITH CHECK ADD  CONSTRAINT [FK_Archivos_Respuestas_IDRespuesta] FOREIGN KEY([IDRespuesta])
REFERENCES [dbo].[Respuestas] ([IDRespuesta])
GO
ALTER TABLE [dbo].[Archivos] CHECK CONSTRAINT [FK_Archivos_Respuestas_IDRespuesta]
GO
ALTER TABLE [dbo].[Denuncias]  WITH CHECK ADD  CONSTRAINT [FK_Denuncias_Publicaciones_IDPublicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[Denuncias] CHECK CONSTRAINT [FK_Denuncias_Publicaciones_IDPublicacion]
GO
ALTER TABLE [dbo].[Denuncias]  WITH CHECK ADD  CONSTRAINT [FK_Denuncias_Respuestas_IDRespuesta] FOREIGN KEY([IDRespuesta])
REFERENCES [dbo].[Respuestas] ([IDRespuesta])
GO
ALTER TABLE [dbo].[Denuncias] CHECK CONSTRAINT [FK_Denuncias_Respuestas_IDRespuesta]
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones]  WITH CHECK ADD  CONSTRAINT [FK_EtiquetasPublicaciones_Etiquetas_IDEtiqueta] FOREIGN KEY([IDEtiqueta])
REFERENCES [dbo].[Etiquetas] ([IDEtiqueta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones] CHECK CONSTRAINT [FK_EtiquetasPublicaciones_Etiquetas_IDEtiqueta]
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones]  WITH CHECK ADD  CONSTRAINT [FK_EtiquetasPublicaciones_Publicaciones_IDPublicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EtiquetasPublicaciones] CHECK CONSTRAINT [FK_EtiquetasPublicaciones_Publicaciones_IDPublicacion]
GO
ALTER TABLE [dbo].[PublicacionesGuardadas]  WITH CHECK ADD  CONSTRAINT [FK_PublicacionesGuardadas_Publicaciones_IDPublicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PublicacionesGuardadas] CHECK CONSTRAINT [FK_PublicacionesGuardadas_Publicaciones_IDPublicacion]
GO
ALTER TABLE [dbo].[PublicacionesVotos]  WITH CHECK ADD  CONSTRAINT [FK_PublicacionesVotos_Publicaciones_IDPublicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PublicacionesVotos] CHECK CONSTRAINT [FK_PublicacionesVotos_Publicaciones_IDPublicacion]
GO
ALTER TABLE [dbo].[RecompensasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RecompensasUsuario_Recompensas_IDRecompensa] FOREIGN KEY([IDRecompensa])
REFERENCES [dbo].[Recompensas] ([IDRecompensa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecompensasUsuario] CHECK CONSTRAINT [FK_RecompensasUsuario_Recompensas_IDRecompensa]
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Publicaciones_IDPublicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicaciones] ([IDPublicacion])
GO
ALTER TABLE [dbo].[Respuestas] CHECK CONSTRAINT [FK_Respuestas_Publicaciones_IDPublicacion]
GO
ALTER TABLE [dbo].[RespuestasVotos]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasVotos_Respuestas_IDRespuesta] FOREIGN KEY([IDRespuesta])
REFERENCES [dbo].[Respuestas] ([IDRespuesta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestasVotos] CHECK CONSTRAINT [FK_RespuestasVotos_Respuestas_IDRespuesta]
GO
ALTER TABLE [dbo].[SesionAyuda]  WITH CHECK ADD  CONSTRAINT [FK_SesionAyuda_SesionAyudaEstado_IDEstado] FOREIGN KEY([IDEstado])
REFERENCES [dbo].[SesionAyudaEstado] ([IDEstado])
GO
ALTER TABLE [dbo].[SesionAyuda] CHECK CONSTRAINT [FK_SesionAyuda_SesionAyudaEstado_IDEstado]
GO
ALTER TABLE [dbo].[SesionAyuda]  WITH CHECK ADD  CONSTRAINT [FK_SesionAyuda_SolicitudAyudaReserva_IDReserva] FOREIGN KEY([IDReserva])
REFERENCES [dbo].[SolicitudAyudaReserva] ([IDReserva])
GO
ALTER TABLE [dbo].[SesionAyuda] CHECK CONSTRAINT [FK_SesionAyuda_SolicitudAyudaReserva_IDReserva]
GO
ALTER TABLE [dbo].[SolicitudAyuda]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyuda_SolicitudAyudaEstado_IDEstado] FOREIGN KEY([IDEstado])
REFERENCES [dbo].[SolicitudAyudaEstado] ([IDEstado])
GO
ALTER TABLE [dbo].[SolicitudAyuda] CHECK CONSTRAINT [FK_SolicitudAyuda_SolicitudAyudaEstado_IDEstado]
GO
ALTER TABLE [dbo].[SolicitudAyudaChat]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaChat_SolicitudAyuda_IDSolicitudAyuda] FOREIGN KEY([IDSolicitudAyuda])
REFERENCES [dbo].[SolicitudAyuda] ([IDSolicitudAyuda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudAyudaChat] CHECK CONSTRAINT [FK_SolicitudAyudaChat_SolicitudAyuda_IDSolicitudAyuda]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatMensaje]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaChatMensaje_SolicitudAyudaChat_IDChat] FOREIGN KEY([IDChat])
REFERENCES [dbo].[SolicitudAyudaChat] ([IDChat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudAyudaChatMensaje] CHECK CONSTRAINT [FK_SolicitudAyudaChatMensaje_SolicitudAyudaChat_IDChat]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatMensajeLectura]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaChatMensajeLectura_SolicitudAyudaChatMensaje_IDMensaje] FOREIGN KEY([IDMensaje])
REFERENCES [dbo].[SolicitudAyudaChatMensaje] ([IDMensaje])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudAyudaChatMensajeLectura] CHECK CONSTRAINT [FK_SolicitudAyudaChatMensajeLectura_SolicitudAyudaChatMensaje_IDMensaje]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatParticipante]  WITH CHECK ADD  CONSTRAINT [FK_SCP_Chat] FOREIGN KEY([IDChat])
REFERENCES [dbo].[SolicitudAyudaChat] ([IDChat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudAyudaChatParticipante] CHECK CONSTRAINT [FK_SCP_Chat]
GO
ALTER TABLE [dbo].[SolicitudAyudaDisponibilidad]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaDisponibilidad_SolicitudAyuda_IDSolicitudAyuda] FOREIGN KEY([IDSolicitudAyuda])
REFERENCES [dbo].[SolicitudAyuda] ([IDSolicitudAyuda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudAyudaDisponibilidad] CHECK CONSTRAINT [FK_SolicitudAyudaDisponibilidad_SolicitudAyuda_IDSolicitudAyuda]
GO
ALTER TABLE [dbo].[SolicitudAyudaEtiquetas]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaEtiquetas_Etiquetas_IDEtiqueta] FOREIGN KEY([IDEtiqueta])
REFERENCES [dbo].[Etiquetas] ([IDEtiqueta])
GO
ALTER TABLE [dbo].[SolicitudAyudaEtiquetas] CHECK CONSTRAINT [FK_SolicitudAyudaEtiquetas_Etiquetas_IDEtiqueta]
GO
ALTER TABLE [dbo].[SolicitudAyudaEtiquetas]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaEtiquetas_SolicitudAyuda_IDSolicitudAyuda] FOREIGN KEY([IDSolicitudAyuda])
REFERENCES [dbo].[SolicitudAyuda] ([IDSolicitudAyuda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudAyudaEtiquetas] CHECK CONSTRAINT [FK_SolicitudAyudaEtiquetas_SolicitudAyuda_IDSolicitudAyuda]
GO
ALTER TABLE [dbo].[SolicitudAyudaHistorial]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaHistorial_SolicitudAyuda_IDSolicitudAyuda] FOREIGN KEY([IDSolicitudAyuda])
REFERENCES [dbo].[SolicitudAyuda] ([IDSolicitudAyuda])
GO
ALTER TABLE [dbo].[SolicitudAyudaHistorial] CHECK CONSTRAINT [FK_SolicitudAyudaHistorial_SolicitudAyuda_IDSolicitudAyuda]
GO
ALTER TABLE [dbo].[SolicitudAyudaReserva]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAyudaReserva_SolicitudAyudaDisponibilidad_IDDisponibilidad] FOREIGN KEY([IDDisponibilidad])
REFERENCES [dbo].[SolicitudAyudaDisponibilidad] ([IDDisponibilidad])
GO
ALTER TABLE [dbo].[SolicitudAyudaReserva] CHECK CONSTRAINT [FK_SolicitudAyudaReserva_SolicitudAyudaDisponibilidad_IDDisponibilidad]
GO
ALTER TABLE [dbo].[TerminosCondicionesSesionAyuda]  WITH CHECK ADD  CONSTRAINT [FK_TerminosCondicionesSesionAyuda_SesionAyuda_IDSesion] FOREIGN KEY([IDSesion])
REFERENCES [dbo].[SesionAyuda] ([IDSesion])
GO
ALTER TABLE [dbo].[TerminosCondicionesSesionAyuda] CHECK CONSTRAINT [FK_TerminosCondicionesSesionAyuda_SesionAyuda_IDSesion]
GO
ALTER TABLE [dbo].[TerminosCondicionesSesionAyuda]  WITH CHECK ADD  CONSTRAINT [FK_TerminosCondicionesSesionAyuda_TerminosCondiciones_IdTyC] FOREIGN KEY([IdTyC])
REFERENCES [dbo].[TerminosCondiciones] ([Id])
GO
ALTER TABLE [dbo].[TerminosCondicionesSesionAyuda] CHECK CONSTRAINT [FK_TerminosCondicionesSesionAyuda_TerminosCondiciones_IdTyC]
GO
ALTER TABLE [dbo].[UsuariosMedallas]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosMedallas_Medallas_IDMedalla] FOREIGN KEY([IDMedalla])
REFERENCES [dbo].[Medallas] ([IDMedalla])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosMedallas] CHECK CONSTRAINT [FK_UsuariosMedallas_Medallas_IDMedalla]
GO
ALTER TABLE [dbo].[Denuncias]  WITH CHECK ADD  CONSTRAINT [CK_Denuncias_PublicacionOrRespuesta] CHECK  (([IDPublicacion] IS NOT NULL AND [IDRespuesta] IS NULL OR [IDPublicacion] IS NULL AND [IDRespuesta] IS NOT NULL))
GO
ALTER TABLE [dbo].[Denuncias] CHECK CONSTRAINT [CK_Denuncias_PublicacionOrRespuesta]
GO
ALTER TABLE [dbo].[SolicitudAyudaChatParticipante]  WITH CHECK ADD  CONSTRAINT [CK_SCP_Rol] CHECK  (([Rol]=(1) OR [Rol]=(0)))
GO
ALTER TABLE [dbo].[SolicitudAyudaChatParticipante] CHECK CONSTRAINT [CK_SCP_Rol]
GO
USE [master]
GO
